.lake/build/
.lake/packages/
*.olean
*.ilean
*.c
*.o

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.dvi
*.dvipdfmx

.DS_Store
Thumbs.db

*.swp
*.swo
.vscode/settings.json